@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot?-yiwbf9');
	src:url('fonts/fontawesome.eot?#iefix-yiwbf9') format('embedded-opentype'),
		url('fonts/fontawesome.woff?-yiwbf9') format('woff'),
		url('fonts/fontawesome.ttf?-yiwbf9') format('truetype'),
		url('fonts/fontawesome.svg?-yiwbf9#fontawesome') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fontawesome';
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
	font-size: 1.2em;
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}

.logo
{
  margin: 0 auto;
  margin-left: 3px;
  padding-bottom: 20%;
  max-width: 80%;
}

/* Dark brown*/
.theme-base-0g .sidebar {
  background-color: #4E362A;
}
.theme-base-0g .content a,
.theme-base-0g .related-posts li a:hover {
  color: #4E362A;
}
/*iconos sociales*/
#social-icons {
	margin: -0.4em 0 0.3em -2.2em;
}
#social-icons li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
}
#social-icons li a {
	text-decoration: none;
}