@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot?m1uhaa');
	src:url('fonts/fontawesome.eot?#iefixm1uhaa') format('embedded-opentype'),
		url('fonts/fontawesome.woff?m1uhaa') format('woff'),
		url('fonts/fontawesome.ttf?m1uhaa') format('truetype'),
		url('fonts/fontawesome.svg?m1uhaa#fontawesome') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fontawesome';
	line-height: 1;

	/*----- Better Font Rendering -----*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-google:before {
	content: "\f1a0";
}

.logo
{
	margin: 0 auto;
	margin-left: 3px;
	padding-bottom: 20%;
	max-width: 30%;
}

/*----- Dark Brown -----*/ 
.theme-base-0g .sidebar {
	background-color: #4E362A;
}
.theme-base-0g .content a,
.theme-base-0g .related-posts li a:hover {
	color: #4E362A;
}
/*----- Social Icons -----*/
#social-icons {
	margin: -0.4em 0 0.3em -2.2em;
}
#social-icons li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
}
#social-icons li a {
	text-decoration: none;
}
/*----- @ -----*/

@media (min-width: 48rem) {
	.logo {
		margin: 0 auto;
		margin-left: 3px;
		padding-bottom: 20%;
		max-width: 80%;
	}
}