{% comment %} VARIABLES {% endcomment %}
    {% comment %} Page Title {% endcomment %}
        {% if page.title %}
            {% assign title = page.title | append: " &middot; " | append: site.title %}
        {% else %}
            {% assign title = site.title | append: " &middot; " | append: site.tagline %}
        {% endif %}
    {% comment %} Page Description {% endcomment %}
        {% if page.description %}
            {% assign description = page.description %}
        {% else %}
            {% assign description = site.description %}
        {% endif %}

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- meta robots no indexación de google -->
  <meta name="robots" content="noindex" />
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="google-site-verification" content="Ds-XAiVXhj2xQ3aVt_KBdhmcCZuFnXmBpOH2kfQalQY" />

  <title>{{ title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/anchor.css">
  <link rel="stylesheet" href="/public/css/custom.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Facebook OpenGraph -->
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="http://mongodbperu.com/public/images/logo.png" />
  <meta property="og:description" content="{{ description }}" />

  <!-- Scripts -->
  <script type="text/javascript" src="/public/js/anchor.js"></script>
  {% include analytics.html %}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
