<ul id="social-icons">
  <li><a href="{{ site.social.github }}" alt="github" class="icon-github" value="\f09b"></a></li>
  <li><a href="{{ site.social.google_plus }}" alt="google+" class="icon-google-plus" value="\f0d5"></a></li>
  <li><a href="{{ site.social.twitter }}" alt="twitter" class="icon-twitter" value="\f099"></a></li>
  <li><a href="{{ site.social.facebook }}" alt="facebook" class="icon-facebook" value="\f09a"></a></li>
   <li><a href="{{ site.social.youtube }}" alt="youtube" class="icon-youtube" value="\f167"></a></li>
</ul>
